<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form action="" method="post">
    <h1>Nova Pessoa</h1>
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Salvar</button>

</form>
</body>
</html>