<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
    </tr>
    </thead>
    <tbody>
    {% csrf_token %}
    {% for pessoa in pessoa %}
    <tr>
        <th></th>
        <td>{{pessoa.nome}}</td>
        <td>{{pessoa.sobrenome}}</td>
        <td>{{pessoa.idade}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</form>
</body>
</html>